@{
    ViewBag.Title = "Nhom6";
    
}


<br />
<div class="row">
    <div class="col-md-8">
       @Html.Action("SlidePartial","Home")
    </div>
    <div class="col-md-4">
        <img src="~/HinhanhSP/logo1.png" class="img-responsive" alt="" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div>
    <img style="width:100%" src="~/HinhanhSP/promotion-03.png" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="~/HinhanhSP/aothun5.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/aothun7.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/aothun8.jpg" class="img-responsive" alt="" />
        </div>
    </div>
</div>
<div class="danhmuc text-center">
    @Html.Action("DanhmucPartial", "Danhmuc")
</div>
<div class="dt">

    @Html.Action("Adidas", "Sanpham")
</div>
<div class="dt text-center">

    @Html.Action("Gucci", "Sanpham")
</div>

<div class="dt text-center">

    @Html.Action("Tommi", "Sanpham")
</div>

<div class="row">
    <h2> Tin tức sản phẩm</h2>
    <div class="col-md-8">
        Video
    </div>
    <div class="col-md-4">
        Tin tức
    </div>
</div>

